
@{
    ViewBag.Title = "Estado de Tanques";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="~/scripts/Logic/estado_tanques.js"></script>
<h2 class="text-center">Estado de Tanques</h2>
<center>
    <button class="btn btn-success" onclick="cargarDetalles();">Actualizar</button>
</center>
<hr />
<div class="container" id="ContenedorData">

</div>



